/* ==========================================================================
   VARIABLES
   ========================================================================== */

$color-bg-primary: #ffffff;
$color-salmon: #EC6F66;
$color-peach: #F3A183;

$color-redOrange: #FF512F;
$color-hotPink: #DD2476;

$color-softMint: #EFEFBB;
$color-ltGray: #D4D3DD;

$color-slate: #859398;
$color-drkSlate: #283048;

$color-anchor: #f19f0f;
