body {
  margin: 0;
  font-size: 16px;
  line-height: 1.625;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}

img,
.projectVideo {
  width: 100%;
}

button {
  border: none;
  background: none;
}

/*
 * ===========================================================
 * Text
 */
.text-1 {
  font-size: 2.25rem;
}
.text-2 {
  font-size: 1.75rem;
}
.text-3 {
  font-size: 1.5rem;
}
.text-4 {
  font-size: 1rem;
}

.tracking-tight {
  letter-spacing: -0.025rem;
}
.caps {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.align-r {
  text-align: right;
}
.list-plain {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0074d9;
}

/*
 * ===========================================================
 * Spacing
 */
.paxs {
  padding: 0.25rem;
}
.pas {
  padding: 0.5rem;
}
.pam {
  padding: 1rem;
}

.phxs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.phs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.phm {
  padding-left: 1rem;
  padding-right: 1rem;
}
.phl {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pll {
  padding-left: 2rem;
}
.plx {
  padding-left: 3rem;
}

.pvxs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.pvs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pvm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pvl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pvx {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.ptx {
  padding-top: 3rem;
}

.maxs {
  margin: 0.25rem;
}
.mas {
  margin: 0.5rem;
}
.mam {
  margin: 1rem;
}

.mhxs {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mhs {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mhm {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mvxs {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.mvs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mvm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mvl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mvx {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mvxx {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mtxs {
  margin-top: 0.25rem;
}
.mts {
  margin-top: 0.5rem;
}
.mtm {
  margin-top: 1rem;
}
.mtl {
  margin-top: 2rem;
}
.mtx {
  margin-top: 3rem;
}
.mtxx {
  margin-top: 6rem;
}

.mbxs {
  margin-bottom: 0.25rem;
}
.mbs {
  margin-bottom: 0.5rem;
}
.mbm {
  margin-bottom: 1rem;
}
.mbl {
  margin-bottom: 2rem;
}
.mbx {
  margin-bottom: 3rem;
}
.mbxx {
  margin-bottom: 3rem;
}

.mrxs {
  margin-right: 0.25rem;
}
.mrs {
  margin-right: 0.5rem;
}
.mrm {
  margin-right: 1rem;
}
.mrl {
  margin-right: 2rem;
}

/*
 * ===========================================================
 * Display & Width
 */
.df {
  display: flex;
}
.df-column {
  flex-direction: column;
}
.df-baseline {
  align-items: baseline;
}
.df-alignCenter {
  align-items: center;
}
.df-spaceBetween {
  justify-content: space-between;
}
.df-end {
  justify-content: end;
}
.df-center {
  justify-content: center;
}
.df-grow {
  flex-grow: 1;
}
.df-start {
  align-items: flex-start;
}
.df-alignSelf {
  align-self: flex-start;
}

.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.pos-rel {
  position: relative;
}

.width-25 {
  width: 25%;
}
.width-50 {
  width: 50%;
}
.width-75 {
  width: 75%;
}
.width-100 {
  width: 100%;
}

.min-height-100 {
  min-height: 100vh;
}

.ofx-scroll {
  overflow-x: scroll;
}
.ofy-scroll {
  overflow-y: scroll;
}
.ofy-hidden {
  overflow-y: hidden;
}
.of-auto {
  overflow: auto;
}

.brs {
  border-radius: 0.25rem;
}

/*
 * ===========================================================
 * Colors & Styles
 */
.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 500;
}
.slate {
  color: rgb(226 232 240);
}
.white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}

/*
 * ===========================================================
 * Custom
 */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.button {
  height: 40px;
  width: 40px;
}
.buttonIcon {
  height: 30px;
  width: 30px;
}

.nav--screenM {
  display: none;
}

.nav {
  border: 1px solid #ccc;
  width: 40%;
  margin-left: auto;
  text-align: right;
}

.transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.line {
  height: 2px;
  width: 1rem;
  background-color: #000;
}

.navLink.active > .line,
.navLink:hover > .line,
.navLink:focus > .line {
  width: 3rem;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.year {
  min-width: 150px;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs.vertical {
  flex-direction: row;
}

[role="tablist"] {
  display: flex;
}

[role="tablist"][aria-orientation="horizontal"] {
  border-bottom: 1px solid gray;
}

[role="tablist"][aria-orientation="vertical"] {
  flex-direction: column;
  border-right: 1px solid gray;
}

[role="tab"] {
  padding: 10px;
}

[role="tablist"][aria-orientation="horizontal"] [role="tab"] {
  border-bottom: 3px solid transparent;
}

[role="tablist"][aria-orientation="vertical"] [role="tab"] {
  border-right: 3px solid transparent;
}

[role="tablist"] [role="tab"][aria-selected="true"] {
  border-color: var(--blue);
}

[role="tab"][aria-disabled] {
  opacity: 0.5;
}

[role="tabpanel"] {
  padding: 10px;
}

/*
 * ===========================================================
 * Media Queries
 */

@media screen and (max-width: 1023px) {
  /* Fade in */
  .a-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0.1em;
    background-color: #0074d9;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .a-underline:hover::after,
  .a-underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  .a-underline::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  .a-underline:hover::after,
  .a-underline:focus::after {
    transform: scale(1);
  }
}

@media screen and (min-width: 1024px) {
  .nav--screenM {
    display: block;
    padding-top: 6rem;
  }
  .pos-rel--screenM {
    position: relative;
  }
  .navButton,
  .nav {
    display: none;
  }
  .df--screenM {
    display: flex;
  }
  .db--screenM {
    display: block;
  }
  .dib--screenM {
    display: inline-block;
  }
  .df-column--screenM {
    flex-direction: column;
  }
  .df-baseline--screenM {
    align-items: baseline;
  }
  .df-alignCenter--screenM {
    align-items: center;
  }
  .df-spaceBetween--screenM {
    justify-content: space-between;
  }
  .df-end--screenM {
    justify-content: end;
  }
  .df-center--screenM {
    justify-content: center;
  }
  .df-grow--screenM {
    flex-grow: 1;
  }
  .df-start--screenM {
    align-items: flex-start;
  }
  .df-alignSelf--screenM {
    align-self: flex-start;
  }

  .phl--screenM {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .pll--screenM {
    padding-left: 2rem;
  }
  .plx--screenM {
    padding-left: 3rem;
  }
  .ptx--screenM {
    padding-top: 3rem;
  }
  .ptxx--screenM {
    padding-top: 6rem;
  }
  .mt0--screenM {
    margin-top: 0rem;
  }
  .mv0--screenM {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .mvl--screenM {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .text-1--screenM {
    font-size: 3.5rem;
  }
  .text-2--screenM {
    font-size: 2rem;
  }
  .text-3--screenM {
    font-size: 1.25rem;
  }
  .text-4--screenM {
    font-size: 1rem;
  }

  .header {
    position: fixed;
    top: 0;
    width: 20%;
    min-width: 300px;
  }
  .main {
    width: 80%;
    margin-left: 300px;
  }
  .a-underline--screenM::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0.1em;
    background-color: #0074d9;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .a-underline--screenM:hover::after,
  .a-underline--screenM:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  .a-underline--screenM::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  .a-underline--screenM:hover::after,
  .a-underline--screenM:focus::after {
    transform: scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .projectVideo--screenM {
    min-height: 350px;
    height: 100%;
    width: 100%;
  }
  .header {
    position: fixed;
    top: 0;
    width: 25%;
    min-width: 420px;
  }

  .main {
    width: 75%;
    margin-left: 420px;
  }
}

@media screen and (min-width: 1550px) {
  .pll--screenL {
    padding-left: 2rem;
  }
  .phxx--screenL {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .df--screenL {
    display: flex;
  }
  .projectVideo--screenL {
    min-height: 450px;
    height: 100%;
    width: 100%;
  }
}
